$imgPath : "../images/";

$font1: 'Arial, Helvetica';
$font2: 'century_gothicregular';

$bgColorBody: #efede8;
$bgColorMiniMenu: #f6f6f6;
$bgColorHeader: #FFFFFF;
$corMenuTopo: #000000;
$corMenuPrincipal: #4c4c4c;
$bgColorItemProduto: #FFFFFF;
$corCategoriaProdutoItem: #7f7f7f;
$corNomeProdutoItem: #000000;
$corValorProdutoItem: #000000;

$bgColorSquareThumb1: #1a7ba8;
$bgColorSquareThumb2: #ffed9d;
$bgColorSquareThumb3: #211500;
$bgColorSquareThumb4: #2c2c2c;

$bgColorBtnComprarTodos: #cd0020;
$corTxtSessaoProduto: #222222;

$corLinksUteis: #4d4d4d;