@font-face {
    font-family: 'century_gothicregular';
    src: url('../fonts/gothic-webfont.woff2') format('woff2'),
         url('../fonts/gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: $font1;
    background-color: $bgColorBody;
    font-family: $font2;
}

.container-element{
    max-width: 980px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.input-default{
    height: 27px;
    background-color: #d9d9d9;
    border: none;
    padding: 5px 0 5px 10px;
    width: 100%;
    outline: none;
}

.btn-submit{
    @extend %buttons;
    width: 28px;
    height: 27px;
    background-image: url(#{$imgPath}/buttons/btn-pesquisar-site.jpg);
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0;
}

::placeholder{ color: #000; }

.titulo{
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.txt-sessao-produto{
    color: $corTxtSessaoProduto;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.compartilhe-opiniao{
    @extend %bloco;
    padding: 30px 0;

    .fb-comments{
        left: 50%;
        transform: translateX(-50%);
    }
}

.custom-nav-owl{
    @extend %buttons;
    position: absolute;
    top: 50%;
    background-image: url(#{$imgPath}/buttons/setas-feed-instagram.png);
    background-repeat: no-repeat;
    z-index: 2;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    transform: translateY(100%);

    &.botao-prev{
        left: -5%;
        background-position: 0 0;
    }

    &.botao-next{
        right: -5%;

        background-position: -56px 0;
    }
}

.informacoes{
    @extend %bloco;
    background-color: #FFF;
    padding: 30px 0;

    .item{
        flex: 1;

        &:not(:last-child){
            border-right: 1px solid #ccc;
        }
    }

    .icone{
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .legenda{
        text-align: center;
        margin: 10px 0 0 0;
        font-size: 16px;
        color: #000;
    }

}