@media (min-width: 0) and (max-width: 767px){
    .header{
        .box-cesta{
            width: 100%;
            position: fixed;
        }

        .hamburguer-mobile{
            float: left;
            display: block;
            background-color: #f6f6f6;
            width: 100%;
        }

        .hamburger{
            float: right;
            padding: 10px;
            outline: none;
        }

        .mini-menu{
            height: 0;
            overflow: hidden;
            transition: all .3s ease-in;

            &.ativo{
                height: 160px;
                padding: 10px 0;
            }
        }

        .nav-topo{
            margin: 0 auto;
            text-align: center;
            padding: 10px 0 5px 0;
        }

        .btn-sacola{
            display: block;
        }

        .links-nav-topo{
            margin: 5px 0;
        }

        .menu-principal{
            padding: 20px 0;
            .logo{
                img{ width: 100%; }
            }
        }
    }

    .titulo{
        font-size: 22px;
    }

    .custom-nav-owl{ display: none; }

    .d-flex{
        flex-flow: wrap column;
    }

    .detalhe-produto{
        .img-principal{
            justify-content: unset;
            align-items: unset;
            height: auto;

            img{ 
                width: 100%;
                max-width: 100%;
            }
        }

        .thumbs{
            float: left;
            width: 100%;

            .item{
                width: 50%;
                height: auto;
                float: left;

                .ico-play-video{
                    width: auto;
                }

                img{ 
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

        .nav-produtos{
            margin-top: 20px;
        }

        .botoes-social{
            .btns-redes-social{ display: none; }
        }
    }

    .compartilhe-opiniao{ display: none; }

    .produtos{
        .produto-item{
            margin-bottom: 15px;
            height: auto;

            &:not(:last-child){
                margin-right: 0;
            }

            .wrap-content-preco{
                .preco{ text-align: center; }
            }
        }
    }

    .informacoes{
        padding: 15px 0;

        .item{
            margin-bottom: 20px;

            &:not(:last-child){
                border-right: none;
                border-bottom: 1px solid #ccc;
            }
        }

        .legenda{
            &:not(:last-child){
                padding-bottom: 20px;
            }
        }
    }

    .links-uteis{
        padding: 20px 0;

        .redes-sociais,
        .newsletter{
            margin-top: 30px;
        }

        .redes-sociais{
            .link-social{ margin-bottom: 5px; }
        }
    }

    .footer{
        padding: 30px 0 0 0;
        
        .formas-pagamento{
            width: 100%;
            max-width: 100%;
        }

        .selos{
            margin-top: 30px;
        }

        .endereco{
            padding: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .header{
        .nav-topo{
            margin-left: 0;
        }

        .btn-wishlist{
            margin: 0 10px;
        }

        .btn-sacola{
            padding: 5px 10px;
            margin: 0px 5px;
        }
    }

    .custom-nav-owl{ display: none; }

    .detalhe-produto{
        .img-principal{
            width: 240px;

            img{ width: 100%; }
        }

        .thumbs{
            .item{
                width: 155px;

                .ico-play-video{
                    width: auto;
                }

                img{
                    width: 100%;
                }
            }
        }

        .botoes-social{
            .btns-redes-social{ width: 100%; }
        }
    }

    .produtos{
        .produto-item{
            width: 150px;

            &:not(:last-child){
                margin-right: 10px;
            }

            img{
                width: 100%;
            }

            .wrap-content-preco{
                align-items: center;
                justify-content: center;
                flex-flow: wrap column;
            }
        }
    }

    .compartilhe-opiniao{ 
        .fb-comments{
            left: 0;
            transform: translateX(0%);
        }
     }
}

@media (min-width: 992px) and (max-width: 1199px){
    .compartilhe-opiniao{ 
        .fb-comments{
            left: 0;
            transform: translateX(0%);
        }
     }
}
