.header{
    @extend %bloco;
    font-size: 12px;
    
    .mini-menu{
        @extend %bloco;
        background-color: $bgColorMiniMenu;
    }

    .nav-topo{
        margin-left: 30px;
        
    }

    .pesquisar-site{ position: relative; }

    .btn-pesquisar-site{
        position: absolute;
        top: 0;
        right: 0;
    }

    .links-nav-topo{
        display: inline-block;
        color: $corMenuTopo;
        font-size: 12px;
    }

    .usario-logado{
        display: inline-block;
    }

    .icone-login{
        margin-right: 5px;
    }

    .btn-wishlist{
        margin: 0 15px;
    }

    .btn-sacola{
        background-color: black;
        color: white;
        padding: 5px 15px;
        margin: 0 10px;
    }

    .menu-principal{
        background-color: #FFF;
        @extend %bloco;
        padding: 30px 0;

        .logo{
            margin: 0 auto;
            text-align: center;
        }

        .link-principal{
            margin: 30px auto 0 auto;
            text-align: center;

            a{
                display: inline-block;
                color: $corMenuPrincipal;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                
                &:not(:last-child){ margin-right: 10px; }
            }
        }
    }
}