.header{
    @extend %bloco;
    font-size: 12px;

    .hamburguer-mobile{ display: none; }
    
    .mini-menu{
        @extend %bloco;
        background-color: $bgColorMiniMenu;
    }

    .nav-topo{
        margin-left: 30px;
        position: relative;
    }

    .box-cesta{
        width: 389px;
        height: 360px;
        position: absolute;
        z-index: 2;
        background: #FFF;
        border: 1px solid #000;
        right: 0;
        padding: 20px 10px;
        overflow: auto;
        display: none;
        

        .item{
            @extend %bloco;
            padding-bottom: 15px;
            border-bottom: 1px dotted #000;
            margin-bottom: 20px;
        }

        .thumb{
            @extend %bloco;

            img{
                width: 30px;
                float: left;
                margin-right: 15px;
            }

            .nome{
                font-size: 14px;
                color: #000;
                letter-spacing: 1px;
                margin: 0;
            }

            .referencia{
                font-size: 10px;
                color: #7f7f7f;
                display: block;
            }
        }

        .infos{
            @extend %bloco;
            margin-top: 15px;
            font-size: 14px;

            p{
                margin: 0;

                .valor{ float: right; }
            }
        }

        .resumo{
            @extend %bloco;

            .quantidade{
                p{
                    font-size: 14px;

                    .total{
                        float: right;
                        font-size: 18px;
                    }
                }
            }

            .botoes{
                margin-top: 20px;

                a{ 
                    display: inline-block;
                    padding: 5px 10px;
                    font-size: 12px;

                    &.btn-comprar-mais{
                        background-color: #d9d9d9;
                        color: #000;
                        float: left;
                    }

                    &.btn-concluir-compra{
                        background-color: #000;
                        color: #fff;
                        float: right;
                    }
                }
            }
        }
    }

    .pesquisar-site{ position: relative; }

    .btn-pesquisar-site{
        position: absolute;
        top: 0;
        right: 0;
    }

    .links-nav-topo{
        display: inline-block;
        color: $corMenuTopo;
        font-size: 12px;
    }

    .usario-logado{
        display: inline-block;
    }

    .icone-login{
        margin-right: 5px;
    }

    .btn-wishlist{
        margin: 0 15px;
    }

    .btn-sacola{
        background-color: black;
        color: white;
        padding: 5px 15px;
        margin: 0 10px;
    }

    .menu-principal{
        background-color: #FFF;
        @extend %bloco;
        padding: 30px 0 0 0;

        .logo{
            margin: 0 auto;
            text-align: center;
        }

        .link-principal{
            margin: 0 auto;
            text-align: center;

            p{
                display: inline-block;
                color: #aeacac;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                padding: 0 20px;

                &:after{
                    content: '';
                    width: 9px;
                    height: 38px;
                    display: inline-block;
                    position: relative;
                    top: 14px;
                    left: 10px;
                    background-image: url(#{$imgPath}/icons/ico-btn-shopp.png);
                }
            }

            a{
                display: inline-block;
                color: $corMenuPrincipal;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                
                &:not(:last-child){ margin-right: 10px; }
            }
        }
    }
}