.footer, .links-uteis, .instagram-feed, .produtos-vistos, .produtos, .detalhe-produto .botoes-social, .detalhe-produto .valor-produto, .detalhe-produto .cores-detalhe-produto, .detalhe-produto .descricao-produto, .detalhe-produto .nav-produtos, .detalhe-produto, .header .menu-principal, .header .box-cesta .resumo, .header .box-cesta .infos, .header .box-cesta .thumb, .header .box-cesta .item, .header .mini-menu, .header, .informacoes, .compartilhe-opiniao {
  float: left;
  position: relative;
  width: 100%;
}

.custom-nav-owl, .btn-submit {
  outline: none;
  border: none;
  background-color: transparent;
}

@font-face {
  font-family: "century_gothicregular";
  src: url("../fonts/gothic-webfont.woff2") format("woff2"), url("../fonts/gothic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Arial, Helvetica";
  background-color: #efede8;
  font-family: "century_gothicregular";
  overflow-x: hidden;
}

.container-element {
  max-width: 980px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.input-default {
  height: 27px;
  background-color: #d9d9d9;
  border: none;
  padding: 5px 0 5px 10px;
  width: 100%;
  outline: none;
}

.btn-submit {
  width: 28px;
  height: 27px;
  background-image: url(../images/buttons/btn-pesquisar-site.jpg);
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 0;
}

::placeholder {
  color: #000;
}

.titulo {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.txt-sessao-produto {
  color: #222222;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.compartilhe-opiniao {
  padding: 30px 0;
}
.compartilhe-opiniao .fb-comments {
  left: 50%;
  transform: translateX(-50%);
}

.custom-nav-owl {
  position: absolute;
  top: 50%;
  background-image: url(../images/buttons/setas-feed-instagram.png);
  background-repeat: no-repeat;
  z-index: 2;
  text-indent: -9999px;
  width: 35px;
  height: 35px;
}
.custom-nav-owl.botao-prev {
  left: -5%;
  background-position: 0 0;
}
.custom-nav-owl.botao-next {
  right: -5%;
  background-position: -56px 0;
}

.informacoes {
  background-color: #FFF;
  padding: 30px 0;
}
.informacoes .item {
  flex: 1;
}
.informacoes .item:not(:last-child) {
  border-right: 1px solid #ccc;
}
.informacoes .icone {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.informacoes .legenda {
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 16px;
  color: #000;
}

.square-color {
  width: 22px;
  height: 22px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.square-color:not(:last-child) {
  margin-right: 5px;
}
.square-color.ativo {
  transform: scale(1.2);
}
.square-color.cor1 {
  background-color: #1a7ba8;
}
.square-color.cor2 {
  background-color: #ffed9d;
}
.square-color.cor3 {
  background-color: #211500;
}
.square-color.cor4 {
  background-color: #2c2c2c;
}
.square-color:hover {
  transform: scale(1.2);
}

.botao-padrao-produto {
  background-color: #cd0020;
  color: #FFF;
  text-align: center;
  display: block;
  text-transform: uppercase;
  line-height: 19px;
  padding: 5px 10px;
  font-size: 14px;
  transition: all 0.3s linear;
}

.header {
  font-size: 12px;
}
.header .hamburguer-mobile {
  display: none;
}
.header .mini-menu {
  background-color: #f6f6f6;
}
.header .nav-topo {
  margin-left: 30px;
  position: relative;
}
.header .box-cesta {
  width: 389px;
  height: 360px;
  position: absolute;
  z-index: 2;
  background: #FFF;
  border: 1px solid #000;
  right: 0;
  padding: 20px 10px;
  overflow: auto;
  display: none;
}
.header .box-cesta .item {
  padding-bottom: 15px;
  border-bottom: 1px dotted #000;
  margin-bottom: 20px;
}
.header .box-cesta .thumb img {
  width: 30px;
  float: left;
  margin-right: 15px;
}
.header .box-cesta .thumb .nome {
  font-size: 14px;
  color: #000;
  letter-spacing: 1px;
  margin: 0;
}
.header .box-cesta .thumb .referencia {
  font-size: 10px;
  color: #7f7f7f;
  display: block;
}
.header .box-cesta .infos {
  margin-top: 15px;
  font-size: 14px;
}
.header .box-cesta .infos p {
  margin: 0;
}
.header .box-cesta .infos p .valor {
  float: right;
}
.header .box-cesta .resumo .quantidade p {
  font-size: 14px;
}
.header .box-cesta .resumo .quantidade p .total {
  float: right;
  font-size: 18px;
}
.header .box-cesta .resumo .botoes {
  margin-top: 20px;
}
.header .box-cesta .resumo .botoes a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
}
.header .box-cesta .resumo .botoes a.btn-comprar-mais {
  background-color: #d9d9d9;
  color: #000;
  float: left;
}
.header .box-cesta .resumo .botoes a.btn-concluir-compra {
  background-color: #000;
  color: #fff;
  float: right;
}
.header .pesquisar-site {
  position: relative;
}
.header .btn-pesquisar-site {
  position: absolute;
  top: 0;
  right: 0;
}
.header .links-nav-topo {
  display: inline-block;
  color: #000000;
  font-size: 12px;
}
.header .usario-logado {
  display: inline-block;
}
.header .icone-login {
  margin-right: 5px;
}
.header .btn-wishlist {
  margin: 0 15px;
}
.header .btn-sacola {
  background-color: black;
  color: white;
  padding: 5px 15px;
  margin: 0 10px;
}
.header .menu-principal {
  background-color: #FFF;
  padding: 30px 0 0 0;
}
.header .menu-principal .logo {
  margin: 0 auto;
  text-align: center;
}
.header .menu-principal .link-principal {
  margin: 0 auto;
  text-align: center;
}
.header .menu-principal .link-principal p {
  display: inline-block;
  color: #aeacac;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 20px;
}
.header .menu-principal .link-principal p:after {
  content: "";
  width: 9px;
  height: 38px;
  display: inline-block;
  position: relative;
  top: 14px;
  left: 10px;
  background-image: url(../images//icons/ico-btn-shopp.png);
}
.header .menu-principal .link-principal a {
  display: inline-block;
  color: #4c4c4c;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.header .menu-principal .link-principal a:not(:last-child) {
  margin-right: 10px;
}

.detalhe-produto {
  background-color: #FFF;
  padding: 30px 0;
  border-top: 1px solid #e3e3e3;
}
.detalhe-produto .img-principal {
  float: left;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.detalhe-produto .thumbs {
  float: right;
}
.detalhe-produto .thumbs .item {
  position: relative;
  width: 185px;
  height: 93px;
  border: 1px solid #e3e3e3;
  transition: all 0.3s linear;
}
.detalhe-produto .thumbs .item .ico-play-video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.detalhe-produto .thumbs .item.ativo {
  border: 1px solid #000;
}
.detalhe-produto .thumbs .item:hover {
  border: 1px solid #000;
}
.detalhe-produto .nav-produtos a {
  font-size: 14px;
  color: #7f7f7f;
}
.detalhe-produto .nav-produtos a.btn-anterior {
  float: left;
}
.detalhe-produto .nav-produtos a.btn-proximo {
  float: right;
}
.detalhe-produto .descricao-produto {
  padding: 15px 0;
}
.detalhe-produto .descricao-produto .titulo-detalhe-produto {
  font-size: 25px;
  color: #000;
  margin: 0;
}
.detalhe-produto .descricao-produto .referencia {
  display: block;
  color: #7f7f7f;
  font-size: 10px;
  margin-bottom: 10px;
}
.detalhe-produto .descricao-produto .txt-descricao-produto {
  color: #7f7f7f;
  font-size: 15px;
}
.detalhe-produto .descricao-produto .leia-mais {
  color: #7f7f7f;
  font-size: 14px;
  text-decoration: underline;
  float: right;
}
.detalhe-produto .cores-detalhe-produto {
  padding: 20px 0;
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
}
.detalhe-produto .valor-produto {
  padding: 30px 0;
}
.detalhe-produto .valor-produto .valores {
  float: left;
}
.detalhe-produto .valor-produto .valores p {
  font-size: 14px;
  margin: 0;
}
.detalhe-produto .valor-produto .valores .antes {
  text-decoration: line-through;
}
.detalhe-produto .valor-produto .valores .parcela {
  margin-top: 10px;
}
.detalhe-produto .valor-produto .valores .parcela span {
  font-size: 22px;
}
.detalhe-produto .valor-produto .botao {
  float: right;
}
.detalhe-produto .valor-produto .botao .btn-add-sacola {
  width: 170px;
  display: block;
}
.detalhe-produto .valor-produto .botao .btn-add-sacola:hover {
  color: #FFF;
  text-decoration: none;
}
.detalhe-produto .botoes-social .wishlist {
  float: right;
  margin-bottom: 20px;
}
.detalhe-produto .botoes-social .wishlist a {
  color: #000;
  font-size: 14px;
}

.produtos {
  margin: 20px 0;
}
.produtos .produto-item {
  background-color: #FFFFFF;
  padding: 15px;
  flex: 1;
  height: 420px;
  max-height: 460px;
}
.produtos .produto-item.preco-promo {
  background-color: transparent;
}
.produtos .produto-item:not(:last-child) {
  margin-right: 15px;
}
.produtos .produto-item .categoria {
  color: #7f7f7f;
  font-size: 12px;
  text-align: center;
  margin: 0 0 5px 0;
}
.produtos .produto-item .nome-produto {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.produtos .produto-item .valor {
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin: 5px 0 0 0;
}
.produtos .produto-item .descricao {
  height: 90px;
}
.produtos .produto-item .thumb-item-produto {
  display: block;
  margin: 50px auto;
  text-align: center;
}
.produtos .produto-item .btn-veja-detalhes {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  display: block;
  letter-spacing: 1px;
}
.produtos .produto-item .btn-veja-detalhes:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  display: block;
  margin-bottom: 5px;
}
.produtos .produto-item .cores {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.produtos .produto-item .wrap-content-preco {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.produtos .produto-item .wrap-content-preco .igual {
  margin: 0 0 0 0;
  font-size: 20px;
}
.produtos .produto-item .wrap-content-preco .preco {
  margin: 0;
}
.produtos .produto-item .wrap-content-preco .preco.antes {
  font-size: 14px;
  text-decoration: line-through;
}
.produtos .produto-item .wrap-content-preco .preco.depois {
  font-size: 18px;
}
.produtos .produto-item .btn-comprar-todos:hover {
  text-decoration: none;
  background-color: #FFF;
  color: #cd0020;
}

.produtos-vistos {
  margin: 40px 0;
}
.produtos-vistos .content-produto-visto {
  background-color: #FFFFFF;
  padding: 15px;
  height: 420px;
  max-height: 460px;
}
.produtos-vistos .content-produto-visto .categoria {
  color: #7f7f7f;
  font-size: 12px;
  text-align: center;
  margin: 0 0 5px 0;
}
.produtos-vistos .content-produto-visto .nome-produto {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.produtos-vistos .content-produto-visto .valor {
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin: 5px 0 0 0;
}
.produtos-vistos .content-produto-visto .thumb-item-produto {
  display: block;
  margin: 50px auto;
  text-align: center;
  width: initial;
}
.produtos-vistos .content-produto-visto .btn-veja-detalhes {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  display: block;
  letter-spacing: 1px;
}
.produtos-vistos .content-produto-visto .btn-veja-detalhes:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  display: block;
  margin-bottom: 5px;
}

.instagram-feed {
  margin-top: 30px;
}
.instagram-feed .item {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.instagram-feed .item:hover {
  opacity: 0.8;
}
.instagram-feed .item:hover .bar {
  transform: translateY(0);
}
.instagram-feed .bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}
.instagram-feed .txt-bar {
  float: left;
  margin: 5px 0 0 5px;
  color: #FFF;
  font-size: 12px;
}
.instagram-feed .ico-instagram {
  width: initial !important;
  float: right;
}

.links-uteis {
  padding: 50px 0;
}
.links-uteis .content p {
  color: #d0102e;
  font-size: 17px;
  margin: 0;
}
.links-uteis .content .link {
  display: block;
  color: #4d4d4d;
  font-size: 12px;
}
.links-uteis .redes-sociais .link-social {
  text-indent: -9999px;
  width: 38px;
  height: 38px;
  background-image: url(../images//icons/redes-sociais.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
}
.links-uteis .redes-sociais .fb {
  background-position: 0 0;
}
.links-uteis .redes-sociais .yt {
  background-position: -44px 0;
}
.links-uteis .redes-sociais .insta {
  background-position: -88px 0;
}
.links-uteis .newsletter p {
  color: #000;
  font-size: 17px;
}
.links-uteis .newsletter p:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  display: block;
  margin-bottom: 5px;
}
.links-uteis .newsletter form {
  position: relative;
}

.footer {
  background-color: #FFF;
  padding: 30px 0;
}
.footer .selos {
  float: right;
}
.footer .selos a {
  margin: 0 20px;
}
.footer .endereco {
  border-top: 1px dotted #000;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
}
.footer .endereco p {
  font-size: 10px;
  text-align: center;
  margin: 0;
}

/*# sourceMappingURL=estilos.css.map */
